## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Komsomolskiy,UZ,40.4272,71.7189,44.02,33,0,2.30,clear sky
1,1,Vaini,TO,-21.2000,-175.2000,77.16,94,100,10.36,light rain
2,2,Pisco,PE,-13.7000,-76.2167,66.25,82,0,4.61,clear sky
3,3,Khovu-Aksy,RU,51.1333,93.6000,2.62,80,21,2.73,few clouds
4,4,Albany,US,42.6001,-73.9662,15.31,85,100,1.99,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 20
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Komsomolskiy,UZ,40.4272,71.7189,44.02,33,0,2.30,clear sky
1,1,Vaini,TO,-21.2000,-175.2000,77.16,94,100,10.36,light rain
2,2,Pisco,PE,-13.7000,-76.2167,66.25,82,0,4.61,clear sky
5,5,Tulsipur,NP,28.1310,82.2973,61.05,57,27,5.75,scattered clouds
6,6,Makakilo City,US,21.3469,-158.0858,71.29,79,0,3.44,clear sky
9,9,Inzer,RU,54.2167,57.5556,28.65,78,100,4.18,overcast clouds
10,10,Dalbandin,PK,28.8947,64.4101,65.44,10,0,2.39,clear sky
11,11,Rikitea,PF,-23.1203,-134.9692,78.49,73,13,7.85,few clouds
12,12,Canton,CN,23.1167,113.2500,60.01,46,90,5.37,overcast clouds
13,13,Hofn,IS,64.2539,-15.2082,26.89,64,100,12.10,light snow

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                6
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Komsomolskiy,UZ,40.4272,71.7189,44.02,33,0,2.30,clear sky
1,1,Vaini,TO,-21.2000,-175.2000,77.16,94,100,10.36,light rain
2,2,Pisco,PE,-13.7000,-76.2167,66.25,82,0,4.61,clear sky
5,5,Tulsipur,NP,28.1310,82.2973,61.05,57,27,5.75,scattered clouds
6,6,Makakilo City,US,21.3469,-158.0858,71.29,79,0,3.44,clear sky
...,...,...,...,...,...,...,...,...,...,...
705,705,Atasu,KZ,48.6814,71.6433,20.25,71,5,13.18,clear sky
706,706,Carupano,VE,10.6678,-63.2585,75.29,86,63,8.75,broken clouds
707,707,Gunjur,GM,13.2019,-16.7339,64.47,68,0,2.30,clear sky
709,709,Myitkyina,MM,25.3833,97.4000,73.11,44,100,1.88,overcast clouds
710,710,Korgen,NO,66.0771,13.8153,34.27,87,100,12.30,light snow

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Komsomolskiy,UZ,44.02,clear sky,40.4272,71.7189,
1,Vaini,TO,77.16,light rain,-21.2000,-175.2000,
2,Pisco,PE,66.25,clear sky,-13.7000,-76.2167,
5,Tulsipur,NP,61.05,scattered clouds,28.1310,82.2973,
6,Makakilo City,US,71.29,clear sky,21.3469,-158.0858,
9,Inzer,RU,28.65,overcast clouds,54.2167,57.5556,
10,Dalbandin,PK,65.44,clear sky,28.8947,64.4101,
11,Rikitea,PF,78.49,few clouds,-23.1203,-134.9692,
12,Canton,CN,60.01,overcast clouds,23.1167,113.2500,
13,Hofn,IS,26.89,light snow,64.2539,-15.2082,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    # 6c. Get latitude and longitude from DataFrame
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
710,Korgen,NO,34.27,light snow,66.0771,13.8153,Huset Cafe & Motell as

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))