In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Yellowknife,CA,2022-02-04 06:10:03,62.4560,-114.3525,-30.44,66,44,3.00
1,1,Marawi,PH,2022-02-04 06:14:42,7.9986,124.2928,72.64,79,100,3.36
2,2,Gazojak,TM,2022-02-04 06:14:43,41.1875,61.4036,44.29,49,94,16.60
3,3,Avarua,CK,2022-02-04 06:14:43,-21.2078,-159.7750,78.85,83,20,14.97
4,4,Avera,US,2022-02-04 06:14:44,33.1940,-82.5271,68.45,82,100,15.26

In [2]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [16]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
    
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [18]:
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Avarua,CK,2022-02-04 06:14:43,-21.2078,-159.7750,78.85,83,20,14.97
8,8,Ambovombe,MG,2022-02-04 06:14:46,-25.1667,46.0833,81.52,64,13,13.35
12,12,Akyab,MM,2022-02-04 06:14:48,20.1500,92.9000,77.07,46,0,8.57
15,15,Mogadishu,SO,2022-02-04 06:14:49,2.0371,45.3438,79.88,66,52,20.71
19,19,Meulaboh,ID,2022-02-04 06:13:47,4.1363,96.1285,85.19,64,84,5.75
20,20,Vaini,TO,2022-02-04 06:14:54,-21.2000,-175.2000,77.16,94,75,10.36
28,28,Padang,ID,2022-02-04 06:14:57,-0.9492,100.3543,84.25,78,81,5.97
33,33,Lorengau,PG,2022-02-04 06:15:00,-2.0226,147.2712,83.89,63,100,9.13
34,34,Cidreira,BR,2022-02-04 06:11:21,-30.1811,-50.2056,75.00,91,91,14.07
40,40,Allapalli,IN,2022-02-04 06:15:02,19.4167,80.0667,83.75,23,7,6.35

In [22]:
preferred_cities_df.count()

City_ID       125
City          125
Country       125
Date          125
Lat           125
Lng           125
Max Temp      125
Humidity      125
Cloudiness    125
Wind Speed    125
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
3      Avarua      CK     78.85 -21.2078 -159.7750
8   Ambovombe      MG     81.52 -25.1667   46.0833
12      Akyab      MM     77.07  20.1500   92.9000
15  Mogadishu      SO     79.88   2.0371   45.3438
19   Meulaboh      ID     85.19   4.1363   96.1285
20      Vaini      TO     77.16 -21.2000 -175.2000
28     Padang      ID     84.25  -0.9492  100.3543
33   Lorengau      PG     83.89  -2.0226  147.2712
34   Cidreira      BR     75.00 -30.1811  -50.2056
40  Allapalli      IN     83.75  19.4167   80.0667

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [30]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [31]:
hotel_df.head()

         City Country  Max Temp      Lat       Lng    Hotel Name
3      Avarua      CK     78.85 -21.2078 -159.7750  Paradise Inn
8   Ambovombe      MG     81.52 -25.1667   46.0833      RELAHARA
12      Akyab      MM     77.07  20.1500   92.9000  Hotel Memory
15  Mogadishu      SO     79.88   2.0371   45.3438    Hotel Juba
19   Meulaboh      ID     85.19   4.1363   96.1285     Kost Pria

In [32]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [35]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = vaction_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))